.header__mainImage {
  max-width: 100%;
}


.main__productsBlock {
  background-image: url('../../images/header__background.png');
  background-color: white;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #666666;
  padding-bottom: 50px;
}

.productsBlock__title {
  margin: 0 0 20px;
  padding: 50px 0 0;
}

.productsBlock__subtitle {
  margin: 0 0 25px;
  padding: 0;
  font-size: 18px;
}

.productsBlock__container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-template-rows: minmax(266px, 1fr);
  /* grid-column-gap: 24px;
  grid-row-gap: 37px; */
  gap: 25px;
}

.main__aboutUs {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutUs__title {
  color: #666666;
  font-size: 32px;
  margin: 0 0 25px;
  padding: 25px 0 0;
}

.title__general {
  margin: 0 2%;
  padding: 0;
  color: #888;
}
