.footer {
  background-color: #f7f7f9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2%;
}

.footer__logo {
  max-width: 300px;
}

.footer__info {

}

.footer__title {
  margin: 0;
}
